<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staya.asap.Repository.ParkingRepo">
    <insert id="createParkingLot">
        INSERT INTO parkinglot
        VALUES (
                #{parkinglot.id},
                #{parkinglot.PARKING_CODE},
                #{parkinglot.PARKING_NAME},
                #{parkinglot.ADDR},
                #{parkinglot.PARKING_TYPE},
                #{parkinglot.TEL},
                #{parkinglot.CAPACITY},
                #{parkinglot.CAPACITY_AVAILABLE},
                #{parkinglot.WEEKDAY_BEGIN_TIME},
                #{parkinglot.WEEKDAY_END_TIME},
                #{parkinglot.WEEKEND_BEGIN_TIME},
                #{parkinglot.WEEKEND_END_TIME},
                #{parkinglot.HOLIDAY_BEGIN_TIME},
                #{parkinglot.HOLIDAY_END_TIME},
                #{parkinglot.PAY_YN},
                #{parkinglot.SATURDAY_PAY_YN},
                #{parkinglot.HOLIDAY_PAY_YN},
                #{parkinglot.RATES},
                #{parkinglot.TIME_RATE},
                #{parkinglot.ADD_RATES},
                #{parkinglot.ADD_TIME_RATE},
                #{parkinglot.DAY_MAXIMUM},
                #{parkinglot.LAT},
                #{parkinglot.LNG},
                #{parkinglot.WIDE_YN},
                #{parkinglot.MECHANICAL_YN},
                #{parkinglot.RATES_PER_HOUR}
                );
    </insert>


    <select id="findById" resultType="com.staya.asap.Model.DB.ParkingDTO">
        SELECT * FROM parkinglot WHERE id = #{id};
    </select>


    <select id="getSearchList" resultType="com.staya.asap.Model.DB.ParkingDTO">
        SELECT *,
            CASE
            WHEN DATE_FORMAT(DIST.curdate, '%m/%d') IN ( '01/01', '01/24', '01/27', '03/01', '04/30', '05/05', '08/15', '09/30', '10/01', '10/09', '12/25') THEN (CASE WHEN HOLIDAY_PAY_YN = false THEN 0 ELSE RATES_PER_HOUR END)
            WHEN DAYOFWEEK(DIST.curdate) = 1 THEN (CASE WHEN HOLIDAY_PAY_YN = false THEN 0 ELSE RATES_PER_HOUR END)# 일요일
            WHEN DAYOFWEEK(DIST.curdate) = 7 THEN (CASE WHEN SATURDAY_PAY_YN = false THEN 0 ELSE RATES_PER_HOUR END) # 토요일
            ELSE RATES_PER_HOUR # 평일
            END AS Cost
        FROM (
                 SELECT id, PARKING_CODE, PARKING_NAME, ADDR, PARKING_TYPE, TEL, CAPACITY, CAPACITY_AVAILABLE, WEEKDAY_BEGIN_TIME, WEEKDAY_END_TIME, WEEKEND_BEGIN_TIME, WEEKEND_END_TIME, HOLIDAY_BEGIN_TIME, HOLIDAY_END_TIME, PAY_YN, SATURDAY_PAY_YN, HOLIDAY_PAY_YN, RATES, TIME_RATE, ADD_RATES, ADD_TIME_RATE, DAY_MAXIMUM, LAT, LNG, WIDE_YN, MECHANICAL_YN, RATES_PER_HOUR,
                    (6371 * acos(cos(radians(LAT)) * cos(radians(#{lat})) * cos(radians(#{lng}) - radians(LNG)) + sin(radians(LAT)) * sin(radians(#{lat}))))
                    AS distance
                    , NOW() as curdate
            FROM parkinglot
            )AS DIST
        WHERE DIST.distance &lt;= #{rad} AND DIST.CAPACITY_AVAILABLE &gt; 0 AND (DIST.WIDE_YN OR #{narrow}) AND (DIST.MECHANICAL_YN OR #{mechanical})
        ORDER BY distance;
    </select>
</mapper>