<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staya.asap.Repository.ReviewRepo">
    <insert id="createReview">
        INSERT INTO userreview (dist, cost, discontent) VALUES (#{review.dist}, #{review.cost}, #{review.discontent});
    </insert>

    <select id="findById" resultType="ReviewDTO">
        SELECT * FROM userreview WHERE id = #{id};
    </select>

    <select id="findByUserId" resultType="ReviewDTO">
        SELECT * FROM userreview WHERE user_id = #{user_id};
    </select>

</mapper>